.c-container{
/*     justify-content: space-around;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem; */
    justify-items: center;
    display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .5rem;
}
.c-container>img{
    width: 120px;
    height: 120px;
    overflow: hidden;
}

/* mobile screens */
@media  (max-width: 768px){
    .c-container{
        grid-template-columns: 1fr 1fr;

    }
  }
  
